
<div class="row-fluid" style="padding-top:4em; padding-bottom:6em;">

  <div class="span7">
    <h1>Chenfei Lu</h1>
  </div>
  <div class="span5">
    <img src="/img/chicagobooth.png" height="300em" width="300em" style="vertical-align:center; horizontal-align:right">
  </div>

</div>


<div class="row-fluid">

  <div class="span4">
      <img src="/img/photo.jpg" height="200em" width="200em">
  </div>

  <div class="span8">

      <p>I am a PhD Student in Finance at the University of Chicago Booth School of Business.</p>
      <p>My primary research interests are in corporate finance, household finance, and industrial organization.</p>
      <br><br>
      <p>You can reach me at chenfeilu [at] uchicago.edu</p>


      {{ content }}

      <p>
        <a href="/docs/ChenfeiWebResume.pdf">Resume</a> | 
        <a href="">Research (coming soon)</a> | 
        <a href="http://www.linkedin.com/in/chenfeilu">Linkedin</a>
      </p>
  </div>

</div>